@using PagedList
@using PagedList.Mvc

@using ProductStockApp.Models.Entity
@model List<ProductsTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="product-table" class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Marka</th>
            <th>Ürün Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.Brand</td>
                <td>@product.CategoriesTable.CategoryName</td>
                <td>@product.Price</td>
                <td>@product.Amount</td>
                <td><a href="/Product/DeleteProduct/@product.ProductID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/GetProduct/@product.ProductID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

@*@Html.PagedListPager((IPagedList)Model, page=> Url.Action("Index", new {page}))*@
<a href="/Product/NewProduct" class="btn btn-primary">Yeni Ürün</a>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#product-table').DataTable();
</script>
